<a href="https://colab.research.google.com/github/BeushevArtem/project/blob/main/16May.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns
import numpy as np
import pandas as pd
ani = pd.read_csv('anime.csv')
ani.head()

,Title,Production,Episodes,Source,Genre,Airdate,Rating,Voters,Theme
0,Shingeki no Kyojin,Wit Studio,25,Manga,"Action,Drama,Fantasy,Mystery","Apr 7, 2013, 01:58 (JST)",8.52,"3,142,121","Military,Super Power"
1,Fullmetal Alchemist: Brotherhood,Bones,64,Manga,"Action,Adventure,Comedy,Drama,Fantasy","Apr 5, 2009, 17:00 (JST)",9.16,"2,676,911",Military
2,Sword Art Online,A-1 Pictures,25,Light novel,"Action,Adventure,Fantasy,Romance","Jul 8, 2012, 00:00 (JST)",7.20,"2,586,628",Game
3,One Punch Man,Madhouse,12,Web manga,"Action,Comedy,Sci-Fi,Supernatural","Oct 5, 2015, 01:05 (JST)",8.52,"2,583,068","Parody,Super Power"
4,Boku no Hero Academia,Bones,13,Manga,"Action,Comedy","Apr 3, 2016, 17:00 (JST)",7.98,"2,426,309","School,Super Power"

In [ ]:
ani.dtypes

Title          object
Production     object
Episodes       object
Source         object
Genre          object
Airdate        object
Rating        float64
Voters         object
Theme          object
dtype: object

In [ ]:
ani = ani.rename(columns=lambda cols: cols.lower())
ani = ani.rename(columns=lambda cols: cols.replace(" ", "_"))
ani.head()

,title,production,episodes,source,genre,airdate,rating,voters,theme
0,Shingeki no Kyojin,Wit Studio,25,Manga,"Action,Drama,Fantasy,Mystery","Apr 7, 2013, 01:58 (JST)",8.52,"3,142,121","Military,Super Power"
1,Fullmetal Alchemist: Brotherhood,Bones,64,Manga,"Action,Adventure,Comedy,Drama,Fantasy","Apr 5, 2009, 17:00 (JST)",9.16,"2,676,911",Military
2,Sword Art Online,A-1 Pictures,25,Light novel,"Action,Adventure,Fantasy,Romance","Jul 8, 2012, 00:00 (JST)",7.20,"2,586,628",Game
3,One Punch Man,Madhouse,12,Web manga,"Action,Comedy,Sci-Fi,Supernatural","Oct 5, 2015, 01:05 (JST)",8.52,"2,583,068","Parody,Super Power"
4,Boku no Hero Academia,Bones,13,Manga,"Action,Comedy","Apr 3, 2016, 17:00 (JST)",7.98,"2,426,309","School,Super Power"